<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="estudianteRepositoryBean" class="com.compunet.repository.EstudianteRepositoryInMemory"/>

    <bean id="estudianteServiceBean" class="com.compunet.service.EstudianteServiceImpl">
        <constructor-arg ref="estudianteRepositoryBean"/>
    </bean>

    <bean id="estudianteServiceSetterBean" class="com.compunet.service.EstudianteServiceSetterImpl" >
        <property name="estudianteRepository" ref="estudianteRepositoryBean"/> 
    </bean>

</beans>